*{
margin: 0%;
padding:0%

}
body{

    background-image:url("Leone.JPG");
    background: size 

}
/*Navigation Bar*/
.navbar{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(114, 91, 102);
box-sizing: border-box;
position: sticky;
top: 0%;
}

.navbar ul{
display: flex;
list-style: none;
margin: 20px 0px;

}
.navbar ul li{
font-size: 1.1rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold
}



.navbar ul li a{
text-decoration: none;
color: rgb(255, 255, 255);
padding: 10px 35px;
transition: all, 1s ease;
}

.navbar ul li a:hover{

    background-color: rgb(197, 197, 197);
    color:black
    Box 
}
/*Home Section*/

#home{
display: flex;
flex-direction: column;
height:100px;
justify-content: center;
padding: 180px;
font-size: 30px;
font-family:'Times New Roman', Times, serif;
color: rgb(0, 0, 0);

}
#home::before{
content: "";
position: absolute;
top:0;
right: 0;
background-image: url("Leone.JPG"); 
background-size: 1950px;
height: 800px;
width: 3500px;
z-index:-100;
opacity: .9;
}
.main{

    display: flex;
    flex-direction: row;
    /*border:3px  rgb(165, 119, 165);*/
    width: 530px;
    align-items: center;
    position: absolute;

}
.headings{

    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    margin: auto;
    text-decoration: none;
    list-style: none;
}
.btn{

padding: 10px 35px;
background-color: transparent;
list-style: none;
color: blue;
transition: 3s ease;

}
.btn :hover{

    cursor: pointer;
    background-color: antiquewhite;
    color:black
    font-weight:antiquewhite
}
/*About*/
.about{
display: flex;
flex-direction: column;
box-sizing: border-box;
padding-right: 20px;
margin-bottom: 50px;
}
#pic{
    display: flex;
    padding-left: 3%;
    padding-top: 50px;
}
#intro{

display: flex;
flex-direction: column;
text-align: center;
padding: 150px;
}
#intro h2{
font-size: 2rem;
margin-bottom: 20px;
transition: 2s ease;
}
#intro p{

    text-decoration-color: blueviolet;
    padding-left: 10px;
    font-size: larger;
    align-content: center;
    text-align: center;
}
/*Portfolio Section*/

#portfolio{
display: flex;
flex-direction: column;
background-color: rgb(236, 223, 240);
align-items: center;
height: 800px;
padding: 20px;
}
.Galley{

display: flex;
flex-wrap: wrap;
justify-content: space-around;
box-sizing: border-box;
padding-right: 3%;

}
.Galley img{

width: 360px;
height: 240px;
margin: 10px;

}

/*section Services*/

#services{

display: flex;
flex-direction: column;
margin-top: 20px;
text-align: center;
font-size: larger;
}


.box{
width: 1100px;
height: 290px;
border: 1px solid black;
margin: 150px;
padding: 80px;
border-radius: 15px;
background-size: 100% 200%;
transition: all .8s;
background-color: rgb(77, 65, 76);
background :linear-gradient(to top, rgb(113, 91, 126) 50%, rgb(133, 104, 127) 80%);
text-align: left;
float: right;
margin-top: 5%;

}
.box :hover{
background-position: left bottom;
color: rgb(143, 143, 143);
box-shadow: 0 0; rg(208, 148, 243);

}

